<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Iniciar Sesión</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>

        <main class="container mt-5 mb-5" th:replace="~{auth/fragmentos :: login}"></main>

        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>